run.sh
.env
data
wandb
*/__pycache__/*
*/.ipynb_checkpoints/*
*/.vscode/*
*/.pytest_cache/*
*/.mypy_cache/*
*/.jupyter/*
*/.ipynb_checkpoints/*
*/.DS_Store/*
*/.venv/*
*/.tox/*
*/.mypy_cache/*
*/.pytest_cache/*
*/.coverage
model.pth